body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25vw;
}

h1 {
    margin: 0px;     
}

ul {
    margin: 0px;
}

body > header {
    color: gray;
    background-color: aquamarine;
}
img {
    border-radius: 80%;
}